{% extends 'base.html.twig' %}

{% block title %}En construction{% endblock %}

{% block main %}
<div class="container-fluid p-0" >
        <section class="row align-items-center p-5 border-bottom border-top construct-part" id="part1">
            <h1 class="col-12 text-center ft-bold">En construction</h1>
        </section>
</div>
{% endblock %}
